
  .display_flex
    width: 33%
    display: flex
    align-items: center
    gap: 30px
   

  td
    display: flex
    gap: 30px
  

  .btn_delete, .btn_edite
    width: 40px
    height: 40px
    margin:0

  .modal_container
    position: absolute
    top: 0
    right: 0
    z-index: 999999999